body {
  margin: 0;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #46403d;
  margin: 0;
  padding: 50px 0 30px;
}

.App .right {
  float: left;
  padding-top: 20px;
}

.App .my-avatar {
  float: left;
  border-radius: 50%;
  width: 150px;
  margin-right: 30px;
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.App .name {
  color: #fff;
  overflow: hidden;
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80% {
    letter-spacing: 2px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.App h3 {
  color: #cc6d97;
  font-size: 24px;
}

.App footer {
  text-align: center;
}

.App small {
  color: #c7c5c4;
}

.App small a {
  color: #c7c5c4;
  text-decoration: underline;
}

.App small a:hover {
  color: #cc6d97;
}
